.alert-red {
  background: #ff6363;
  color: red;
  border: 1px, solid, black;
}

.alert-orange {
  background: #ffc38f;
  color: orange;
  border: 1px, solid, black;

}

.alert-yellow {
  background: #f5ff8a;
  color: #9aa800;
  border: 1px, solid, black;

}

.alert-green {
  background: #95ff8a;
  color: green;
  border: 1px, solid, black;

}

.alert-blue {
  background: #8ab1ff;
  color: blue;
  border: 1px, solid, black;

}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}






