.alert-red {
  background: #8B0000;
  color: white;
  border: none;
}

.alert-orange {
  background: #FF4500;
  color: white;
  border: none;

}

.alert-yellow {
  background: #FFFF00;
  color: white;
  border: none;

}

.alert-green {
  background: #008000;
  color: white;
  border: none;

}

.alert-blue {
  background: #00FFFF;
  color: white;
  border: none;

}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}






