.alert-red {
  background: #8B0000;
  color: white;
  border: none;
}

.alert-orange {
  background: #FF4500;
  color: white;
  border: none;

}

.alert-yellow {
  background: #FFFF00;
  color: white;
  border: none;

}

.alert-green {
  background: #008000;
  color: white;
  border: none;

}

.alert-blue {
  background: #00FFFF;
  color: white;
  border: none;

}





